*{
	padding: 0px;
	margin: 0px;
	font-family: 'Lobster', cursive;
	font-weight: 400;
}

.contact-form  {
	font-size: 25px;
	
}
.contact-form__h2 {
	font-size: 2em;
	line-height: 1.9;
	color: red;
}















